*.o
*.o.*
*.a
*.ko
#*.s
#*.so
*.so.dbg
*.mod.c
#*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
#*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
#*.patch
*.gcno
*.depend
*.depend.*
*.cmd